#jinja2: trim_blocks: "true", lstrip_blocks: "true"
{{ '#' }} {{ ansible_managed }}

{% if openntpd_config_options['listen_on'] is defined %}
{% if openntpd_config_options['listen_on'] is iterable %}
{% for listen_on in openntpd_config_options['listen_on']|sort %}
{{ '#'}} {{ listen_on }}
listen on {{ openntpd_config_options['listen_on'][listen_on]['address'] }} rtable {{ openntpd_config_options['listen_on'][listen_on]['rtable']|default(openntpd_config_options_defaults['rtable']) }}
{% endfor %}
{% endif %}
{% endif %}
{% if openntpd_config_options['server'] is defined %}
{% if openntpd_config_options['server'] is iterable %}
{% for server in openntpd_config_options['server']|sort %}
{{ '#'}} {{ server }}
server {{ openntpd_config_options['server'][server]['address'] }} weight {{ openntpd_config_options['server'][server]['weight']|default(openntpd_config_options_defaults['weight']['server']) }}
{% endfor %}
{% endif %}
{% endif %}
{% if openntpd_config_options['servers'] is defined %}
{% if openntpd_config_options['servers'] is iterable %}
{% for servers in openntpd_config_options['servers']|sort %}
{{ '#'}} {{ servers }}
servers {{ openntpd_config_options['servers'][servers]['address'] }} weight {{ openntpd_config_options['servers'][servers]['weight']|default(openntpd_config_options_defaults['weight']['servers']) }}
{% endfor %}
{% endif %}
{% endif %}
{% if openntpd_config_options['sensor'] is defined %}
{% if openntpd_config_options['sensor'] is iterable %}
{% for sensor in openntpd_config_options['sensor']|sort %}
{{ '#'}} {{ sensor }}
sensor {{ openntpd_config_options['sensor'][sensor]['device'] }} correction {{ openntpd_config_options['sensor'][sensor]['correction']|default(openntpd_config_options_defaults['correction']) }} weight {{ openntpd_config_options['sensor'][sensor]['weight']|default(openntpd_config_options_defaults['weight']['sensor']) }} refid {{ openntpd_config_options['sensor'][sensor]['refid']|default(openntpd_config_options_defaults['refid']) }} stratum {{ openntpd_config_options['sensor'][sensor]['stratum']|default(openntpd_config_options_defaults['stratum']) }}
{% endfor %}
{% endif %}
{% endif %}
